<section class="vh-100 gradient-custom" *ngIf="skill">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card " style="border-radius: 3rem;">
                <div class="card-body p-3 text-center">

                    <div class="mb-md-8 mt-md-4 pb-5">


                        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

                            <div class="form-outline form-white mb-4">
                                <label for="nombre ">
                                    <h5>Skill</h5>
                                </label>
                                <input type="text" class="form-control" id="nombre" name="nombre"
                                    [(ngModel)]="skill.nombre" required>
                            </div>
                            
                            <div class="form-outline form-white mb-4">
                                <label for="porcentaje ">
                                    <h5>Porcentaje</h5>
                                </label>
                                <input type="text" class="form-control" id="porcentaje" name="porcentaje"
                                    [(ngModel)]="skill.porcentaje" required>
                            </div>


                            <button class="btn btn-outline-primary btn-lg px-5" type="submit">Editar</button>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>