.row{
    padding: 20px;
}

.circulo{
    display: flex;
    justify-content: center;
}

.boton{
    padding-inline: 5px;
}

.titulo{
    display:flex;
    margin-left: 10px;
    color: white;
}

.addbutton{
    text-align: center;
    margin-top: -2px;
    padding-left: 10px;
    
}

.zonacirculos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill{
    margin-bottom: 10px;
    margin-top: -5px;
    font-family: monospace;
    font-size: larger;
}

.card{
    border-radius: 15px;
background: #a1b5d2;
}

.card-title{
    background: #00358e;
    border-radius: 15px;

}
