<div class="row gx-0" *ngIf="persona">


    <div class="col-xs-12 cal-sm-3 col-md-3 col-lg-3">
        <div>
            <div>
                <img src='{{persona.img}}' class="img-fluid" id="fotodeperfil">

            </div>

            <div class="nombretituloboton">
                <div class="nombreytitulo">
                    <div>
                        <p>{{persona.nombre}} {{persona.apellido}}</p>
                    </div>

                    <div>
                        <p>{{persona.descripcion}}</p>
                    </div>

                    <!-- 

                    <div *ngFor="let Acerca of acerca">
                        <p class="titulacionA">{{Acerca.titulacionA}}</p>
                    </div>

                   -->

                </div>

                <button class="editbutton1 btn btn-outline-primary " routerLink="/editperfil/1" *ngIf="isLogged">
                    <i class="bi bi-pencil"></i>
                </button>


            </div>





        </div>



    </div>



    <div class="acercademi col-xs-12 col-sm-12 col-md-9 col-lg-9">

        <div class="titulo">
            <h1>Acerca de mí</h1>
            <div *ngFor="let Acerca of acerca">
                <div class="editbutton2 col-lg-1" *ngIf="isLogged">
                    <button class="btn btn-outline-primary" routerLink="/editacerca/{{Acerca.id}}">
                        <i class="bi bi-pencil"></i>
                    </button>
                </div>

            </div>
        </div>


        <div style="padding: 0 60px 0 60px; font-size: large">
            <tbody>
                <tr *ngFor="let Acerca of acerca">
                    <div>
                        <td>{{Acerca.descripcionA}}</td>

                    </div>

                </tr>

            </tbody>

        </div>





    </div>